
#sb2, #sidebar-box {
  outline: 1px solid var(--chrome-content-separator-color);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0.25px 0.75px 0px, rgba(0, 0, 0, 0.4) 0px 2px 6px 0px;

}

#sb2[type="floating"] {
    outline: .5px rgba(255, 255, 255, 0.5) solid;
  
}