#browser splitter {
  --splitter-width: 8px !important;
}

#sb2-split-splitter {
  width: var(--splitter-width) !important;
  
}

splitter:hover {
  background-color: unset !important;
}
#sb2-box {
  padding-inline-start: 0 !important;
}