:root {
  @media not (prefers-reduced-transparency) {
    appearance: -moz-sidebar !important;
  }
}

#tabbrowser-tabbox,
#browser:has(#sb2[pinned="true"]) #sb2-box {
  --toolbar-bgcolor: rgba(0, 0, 0, 0);
}

#sb2-box {
  --space-small: 12px;
  margin-bottom: var(--space-small) !important;
}
